<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

{% if request.path != '/login/' and request.path != '/' %}
    <div class="container-fluid">
      <ul class="nav bg-info justify-content-between">
        <li class="nav-item">
          <a class="nav-link link-light" href="/home/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/logout/">Logout</a>
        </li>
      </ul>
    </div>
{% endif %}

  {% block content %}
  {% endblock %}

</div>
</body>
</html>